name: Run Lint before push
on:
  push:
    branches:
      - main

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código fuente
        uses: actions/checkout@v2

      - name: Instalar dependencias
        run: npm install
  lint:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código en trabajo1
        uses: actions/checkout@v2

      - name: Ejecutar npm run lint
        run: npm run lint

  test:
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código en trabajo1
        uses: actions/checkout@v2

      - name: Run tests
        run: npm test
  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código en trabajo1
        uses: actions/checkout@v2

      - name: Build
        run: npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código en trabajo1
        uses: actions/checkout@v2

      - name: Deploy to Netlify
        run: |
          npm install -g netlify-cli
          export NETLIFY_AUTH_TOKEN= ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify login
          netlify deploy --site ${{ secrets.NETLIFY_SITE_ID }} --prod
